{extend name="Common:base" /}
{block name="sreach"}
		<a href="javascript:;" class="layui-btn layui-btn-small " id="add" onClick="alertFrom(this);" data-url="{:url('nav/add')}" data-version="{$version}" data-title="添加导航">
			<i class="layui-icon ">&#xe608;</i> 添加导航
		</a>
		
		<a href="javascript:;" class="layui-btn layui-btn-small" id="search" onClick="alertFrom(this);" data-url="{:url('nav/search')}" data-version="{$version}" data-title="搜索" >
			<i class="layui-icon">&#xe615;</i> 搜索 
		</a>
 {/block}
{block name="main"}
	 
	<fieldset class="layui-elem-field layui-field-title" style="margin: 0px;">
	  <legend>数据列表</legend>
	</fieldset>
	<div class="layui-tab" lay-filter="test">
            <div class="layui-tab-content" >
                   <table id="data_info"  cellspacing="0" class="layui-table commTableList"></table>
                </div>
            </div>
     	</div>
 {/block}

{block name="footer"}
	
	<!-- 开启状态start-->
	<script type="text/html" id="icon">
		{{#  if(d.icon){ }}
			<div class="layer-photos-demo layer-photos-images">
			  <img layer-pid="图片id，可以不写" layer-src="{{d.icon}}" src="{{d.icon}}" alt="图片名" height="100%">
			</div>
			<!-- <img src="_UPLOAD_/{{d.icon}}" layer-src="_UPLOAD_/{{d.icon}}" alt="图片无法显示" height="100%" onClick="imagesAlert('_UPLOAD_/{{d.icon}}','图标')"> -->
		{{#  }else{ }}
			无
		{{#  } }}
	</script>
	<!-- 开启状态end-->

	<!-- 开启状态start-->
	<script type="text/html" id="status">
		 <input type="checkbox" value='1' class="status" {{#  if(d.status == 1){ }} checked="" {{#  } }} data-id="{{d.id}}" data-url="{:url('Common/statusAjax')}" data-table="nav" data-info="导航"  lay-filter="status" lay-skin="switch" lay-text="开启|关闭"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em></em><i></i></div> 
	</script>
	<!-- 开启状态end-->
	
	<!-- 操作start-->
	<script type="text/html" id="operation">
		  <a class="layui-btn layui-btn-primary layui-btn-xs" href="javascript:;" onclick="openParentTable(this,'{:url(\'Common/get_parent_list\')}','nav',' * ',{{d.id}},{{d.parent_id}},'{$web_path_rk}','{{d.title}}')" open_type='1' lay-event="detail">展开</a>
		  <a class="layui-btn layui-btn-primary layui-btn-xs" href="{{d.icon}}" target="_bank" lay-event="detail">查看</a>
		  <a class="layui-btn layui-btn-xs" lay-event="edit" onClick="alertFrom(this);" data-url="{:url('nav/edit')}?id={{d.id}}" data-version="{$version}" data-title="编辑导航" >编辑</a>
		  <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="delAll('nav','1')" lay-event="del">删除</a>
	</script>
	<!-- 操作end-->

	<!-- parent_id-->
	<script type="text/html" id="parent_id">

		 {{#  
		 	if(d.parent_id != 0){ 
		 }}
		 		子类(父类ID：{{d.parent_id}})
		 {{#
		 	}else{
		 }}
		 		父类
		 {{#
		 	} 
		  }}
	</script>
	<!-- parent_id-->

	<!-- table渲染start-->
	<script type="text/javascript">
	var json_data = JSON.parse('{$data.json_data;}');   //json数据
	var limt = '{$_limit}';   //每页个数
	var sort = [];   //每页个数
	var arr = [ //标题栏
        {checkbox: true, LAY_CHECKED: false,fixed:'left'} //默认全选
        ,{field: 'id', title: '序号', width: 100, sort: true,templet: '<div>{{ d.LAY_TABLE_INDEX + 1}}</div>'}
        ,{field: 'id', title: 'id', width: 100, sort: true}
        ,{field: 'parent_id', title: '导航类型', width: 100, templet: '#parent_id'}
        ,{field: 'title', title: '导航名称', width: 240}
        ,{field: 'url', title: '控制器/方法', width: 233}
        ,{field: 'icon', title: '图标', width: 300, templet: '#icon'}
        ,{field: 'sort', title: '排序', width: 100}
        ,{field: 'createtime', title: '创建时间', width: 200, sort: true}
        ,{field: 'status', title: '是否启用', width: 200, templet: '#status'}
        ,{field: 'operation', title: '操作', width: 200, align:'center',fixed:'right', templet: '#operation'}
      ];

	</script>
	<!-- table渲染start-->
	<script type="text/javascript" src="_COMM_JS_/table.js?t={$version}"></script>
{/block}